In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv(r"C:\Users\user\OneDrive\Υπολογιστής\age.csv")                       
df = data.copy()

In [3]:
df.head()

,Age Group,0 to 17,18 to 44,45 to 64,65 to 74,75 and over,Unknown
0,Underlying conditions,3,244,1343,1272,2289,0
1,No underlying conditions,0,25,59,26,27,0
2,Underlying conditions unknown,0,40,179,385,947,1
3,Total,3,309,1581,1683,3263,1

In [4]:
data = pd.read_csv(r"C:\Users\user\OneDrive\Υπολογιστής\Sex.csv")                       
df = data.copy()

In [5]:
df.head()

                             Sex  Female  Male  Unknown
0          Underlying conditions    1873  3087      191
1       No underlying conditions      37    96        4
2  Underlying conditions unknown     620   912       20
3                          Total    2530  4095      215